.tab-bar {
  height: auto !important;
  flex-wrap: wrap !important;

  .tab {
    flex-basis: auto !important;
  }
}

.theme-atom-material-ui {
  .tab-bar {
    max-height: max-content !important;
  }
}

.theme-unity-ui,
.theme-nucleus-dark-ui {
  .tab-bar {
    .tab {
      width: unset !important;
    }
  }
}
